.card-arch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 250px 250px 0 0;
  border: 1px solid $color-fallow;
  border-bottom: none;
  min-height: 700px;
  width: 400px;

  img {
    border-radius: 0 0 250px 250px;
  }

  &--image {
    border: unset;
    padding: 0;
  }

  &--main {
    width: 456px;
    min-height: 600px;
  }

  &--reverse {
    img {
      border-radius: 250px 250px 0 0;
    }
  }

  &--statistic {
    width: 400px;
    height: 700px;
    padding: 40px 0 0;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 60px;
  }

  &__logo {
    width: 99px;
    height: 134px;
    margin: 0 0 40px;
  }

  &__logo-text {
    color: $color-fallow;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .2em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  &__title {
    font-family: $ff-tenor;
    font-size: 44px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: -0.08em;
    text-align: center;
    text-transform: uppercase;
    width: 380px;
    margin: 0 0 40px;
  }

  &__location-logo {
    width: 16px;
    height: 22px;
    margin: 0 0 12px;
  }


  &__address {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: $color-white;
    font-style: normal;
  }

  &__numbers {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 12px;
    text-align: center;
    font-family: $ff-tenor;
    font-size: 48px;
    line-height: 48px;
    color: $color-fallow;
    margin: 0 0 10px;

    span {
      font-family: $ff-tenor;
      font-size: 18px;
      line-height: 26px;
      color: $color-fallow;
      text-transform: uppercase;
    }
  }

  &__numbers-big {
    display: block;
    font-size: 140px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -0.04em;
    margin: 0 0 40px;
    color: $color-fallow;
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    width: 192px;
    text-align: center;
  }

  &__text-decor {
    text-align: center;
    width: 350px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: $ff-tenor;
    line-height: 26px;
    letter-spacing: -0.08em;
    color: $color-fallow;
    text-transform: uppercase;
    padding: 20px 0 0;
  }
}