.apartments {
  padding: 0 0 120px;

  &__wrapper {
    display: grid;
    grid-template-columns: 485px 800px;
    gap: 85px;
    align-items: center;
  }

  &__description {
    display: flex;
    flex-direction: column;

    &-title {
      margin: 0 0 30px;
      font-size: 34px;
      line-height: 44px;
      letter-spacing: -0.08em;
      font-weight: 400;
      font-family: $ff-tenor;
      color: $color-fallow;
      text-transform: uppercase;
    }

    &-text {
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: $color-white;
      margin: 0 0 40px;
    }

  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

}