.architecture {
  padding: 0 0 120px;

  @include vp-1023 {
    padding: 0 0 80px;
  }

  @include vp-767 {
    padding: 0 0 60px
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px;

    @include vp-1023 {
      margin: 0 0 15px;
    }

    @include vp-767 {
      flex-direction: column;
      margin: 0 0 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 84px;
    padding: 0;
    list-style: none;
    margin: 0;

    @media (max-width: 1400px) {
      gap: unset;
    }

    @include vp-1023 {
      gap: 19px;
    }

    @include vp-767 {
      gap: 10px;
      overflow: auto;
      flex-wrap: nowrap;
      padding: 0 0 0 170px;
      margin: 0 0 0 -10px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.08em;
    color: $color-fallow;
    font-family: $ff-tenor;
    text-transform: uppercase;
    font-weight: 400;
    width: 400px;
    text-align: left;

    @include vp-1023 {
      font-size: 24px;
      line-height: 30px;
      width: 230px;
    }
    
    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 15px;
      text-align: center;
    }
  }

  &__description {
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: $color-white;
    width: 398px;
    margin: 0;
    text-align: left;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
      width: 230px;
    }

    @include vp-767 {
      width: 250px;
    }
  }

  
}