.embankment-picture {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;

  @include vp-1023 {
    height: 460px;
    background-position: center;
  }
}