.embankment {
  padding: 120px 0;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 456px;
    height: 600px;

    img {
      border-radius: 0 0 250px 250px;
    }
  }

  &__logo {
    width: 99px;
    height: 134px;
  }

  &__logo-text {
    color: $color-fallow;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .2em;
    font-weight: 400;
  }

  &__title {
    font-size: 44px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-align: center;
    text-transform: uppercase;
    width: 380px;
  }
}