.infrastructure {
  padding: 120px 0 130px;

  @include vp-1023 {
    padding: 80px 0 0;
  }

  @include vp-767 {
    padding: 60px 0 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 170px;
    align-items: center;

    @media (max-width: 1580px) {
      gap: 80px;
    }

    @media (max-width: 1280px) {
      gap: 20px;
    }

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  }


  &__list {
    columns: 2;
    gap: 40px;
    padding: 0 0 0 20px;
    margin: 0;

    @media (max-width: 1400px) {
      gap: unset;
    }

    @include vp-1023 {
      gap: 64px;
      padding: 0 0 0 15px;
    }

    @include vp-767 {
      columns: unset;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 15px;

      @include vp-1023 {
        margin: 0 0 10px;
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 0 30px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 20px;
    }

    @include vp-767 {
      margin: 0 0 12px;
    }
  }


  &__item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }
}