.infrastructure {
  padding: 120px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    columns: 2;
    gap: 40px;
    padding: 10px 0 0 20px;
    margin: 0;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 15px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 0 30px;
  }


  &__item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    text-align: left;
    width: 370px;
  }

  &__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 250px 250px 0 0;
    border: 1px solid $color-fallow;
    border-bottom: unset;
    padding: 100px 100px 60px 100px;
    max-height: 700px;
  }

  &__numbers-list {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 60px;
  }

  &__numbers-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 12px;
    text-align: center;
    font-family: $ff-tenor;
    font-size: 48px;
    line-height: 48px;
    color: $color-fallow;
    margin: 0 0 10px;

    span {
      font-family: $ff-tenor;
      font-size: 18px;
      line-height: 26px;
      color: $color-fallow;
      text-transform: uppercase;
    }
  }

  &__numbers-text {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    width: 192px;
    text-align: center;
  }
}