.info {
  padding: 0 0 120px;
  
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  &__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &::before {
      content: "";
      background: url("/images/sprite/icon-arrow-left.svg") center no-repeat;
      background-size: contain;
      position: absolute;
      top: 25%;
      left: 0;
      width: 490px;
      height: 10px;

      @include vp-1023 {
        width: 264px;
    }
  }
    &::after {
      content: "";
      background: url("/images/sprite/icon-arrow-right.svg") center no-repeat;
      background-size: contain;
      position: absolute;
      top: 25%;
      right: 10px;
      width: 490px;
      height: 10px;

      @include vp-1023 {
        width: 264px;
      }
      
    }
    
    &-numbers {
      font-size: 140px;
      line-height: 100px;
      letter-spacing: -0.04em;
      font-weight: 400;
      font-family: $ff-tenor;
      color: $color-fallow;
      margin: 0 0 20px;

      @include vp-1023 {
        font-size: 90px;
        line-height: 70px;
        margin: 0 0 15px;
      }

      span {
        font-size: 34px;
        line-height: 44px;
        font-weight: 400;
        font-family: $ff-tenor;
        color: $color-fallow;
      }
    }

    &-text {
      display: block;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: $color-white;

      @include vp-1023 {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

}