.info {
  padding: 0 0 106px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    svg {
      margin-top: -25px;
      width: 500px;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &-numbers {
      font-size: 140px;
      line-height: 100px;
      letter-spacing: -0.04em;
      font-weight: 400;
      font-family: $ff-tenor;
      color: $color-fallow;

      span {
        font-size: 34px;
        line-height: 44px;
        font-weight: 400;
        font-family: $ff-tenor;
        color: $color-fallow;
      }
    }

    &-text {
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: $color-white;
    }
  }

}