.park {
  padding: 55px 0 120px;

  @include vp-1023 {
    padding: 60px 0 82px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-1023 {
      display: grid;
      grid-template-columns: repeat(2, 340px);
      gap: 50px;
    }

  }

  &__description {
    max-width: 480px;
  }

  &__title {
    text-align: left;
    color: $color-fallow;
    font-size: 34px;
    line-height: 44px;
    text-transform: uppercase;
    font-family: $ff-tenor;
    font-weight: 400;
    letter-spacing: -0.08em;
    margin: 0 0 30px -10px;

    @include vp-1023 {
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 15px;
    color: $color-white;
    width: 495px;

    @include vp-1023 {
      width: 340px;
      padding: 0 0 0 14px;
      gap: 10px;
    }

    &-item {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;

      @include vp-1023 {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }



}